<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p>Na podany przez Ciebie adres email została wysłana wiadomość.</p>
            <p>Sprawdź pocztę i postępuj zgodnie z instrukcją.</p>
            <p class="info">Wróc do strony <span class="link" routerLink="/login">logowania</span></p>
        </div>
    </div>
</section>