<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p>Podaj poniższe dane, aby założyć konto:</p>
            <form class="form" (ngSubmit)="register()">
                <p>
                    <input type="email" class="form__input" placeholder="email" [(ngModel)]="email" name="email">
                </p>
                <p>
                    <input type="password" class="form__input" placeholder="hasło" [(ngModel)]="password"
                        name="password">
                </p>
                <div class="container__buttons">
                    <button class="button">Zarejestruj się</button>
                </div>
            </form>
            <footer class="footer">
                <p class="footer-registration">Posiadasz już konto?
                    <span class="link" routerLink="/login">
                        Zaloguj się
                    </span>
                </p>
            </footer>
        </div>
    </div>
</section>