<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p>Podaj poniższe dane, aby założyć konto:</p>
            <div class="container-form-login">
                <p>
                    <input type="email" class="form__input" placeholder="email" [(ngModel)]="email">
                </p>
                <p>
                    <input type="password" class="form__input" placeholder="password" [(ngModel)]="password">
                </p>
                <div class="container__buttons">
                    <button class="button" routerLink="/login">Log in</button>
                    <button class="button" (click)="register()">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</section>