.section {
  height: 100vh;
  background: url(../../assets/images/loginBackground.jpg) no-repeat center;
  background-size: cover;
  &-overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
}

.container {
  max-width: 50%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  &-logo {
    &__image {
      width: 60%;
    }
  }
  &-form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  text-align: center;
  background-color: rgba(218, 218, 218, 0.376);
  padding: 30px 16px;
  &__input {
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 6px 2px;
    max-width: 320px;
    letter-spacing: 1.5px;
    width: 100%;
    &::placeholder {
      color: rgb(213, 213, 213);
    }
  }
}

.button {
  padding: 6px 30px;
  margin: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.quote {
  font-size: 1.2rem;
  font-style: italic;
  &-author {
    text-align: end;
    max-width: 500px;
    width: 100%;
  }
}

.link {
  color: rgb(0, 194, 229);
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}
