<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p>
                <label class="form__label">Email</label>
                <input type="text" class="form__input">
            </p>
            <p>
                <label>Password</label>
                <input type="text">
            </p>
        </div>
    </div>
</section>