<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p class="quote">„Powiedz mi, jakie książki masz w domu, a powiem ci, kim jesteś.”</p>
            <p class="quote-author">~ Jarosław Iwaszkiewicz</p>
            <div class="container-form-login">
                <p>
                    <input type="email" class="form__input" placeholder="email">
                </p>
                <p>
                    <input type="text" class="form__input" placeholder="password">
                </p>
                <div class="container__buttons">
                    <button class="button">Log in</button>
                    <button class="button">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</section>