.section {
  height: 100vh;
  background: url(../../assets/images/loginBackground.jpg) no-repeat center;
  background-size: cover;
  &-overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
  }
}

.container {
  max-width: 50%;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  &-logo {
    &__image {
      width: 60%;
    }
  }
  &-form {
    color: white;
    display: flex;
    flex-direction: column;
  }
}

.form {
  &__label {
    display: inline-block;
    max-width: 75px;
    width: 100%;
  }
}
