<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p class="quote">„Powiedz mi, jakie książki masz w domu, a powiem ci, kim jesteś.”</p>
            <p class="quote-author">~ Jarosław Iwaszkiewicz</p>
            <form class="form" (ngSubmit)="login()">
                <p>
                    <input type="email" class="form__input" placeholder="email" [(ngModel)]="email" name="email">
                </p>
                <p>
                    <input type="password" class="form__input" placeholder="hasło" [(ngModel)]="password"
                        name="password">
                </p>
                <div class="container__buttons">
                    <button class="button">Zaloguj się</button>
                </div>
            </form>
            <footer class="footer">
                <p class="footer-registration">Nie posiadasz konta?
                    <span class="link" routerLink="/registration">
                        Zarejestruj się
                    </span>
                </p>
                <p class="footer-forgot" class="link" routerLink="/forgot-password">Zapomniałeś hasła?</p>
            </footer>
        </div>
    </div>
</section>