<app-navbar></app-navbar>
<main class="main">
    <form class="form-style-7">
        <ul>
            <li>
                <label for="isbn">Numer ISBN</label>
                <input type="text" name="isbn" maxlength="30">
            </li>
            <li>
                <label for="title">Tytuł</label>
                <input type="text" name="title" maxlength="100">
            </li>
            <li>
                <label for="author">Autor</label>
                <input type="text" name="author" maxlength="100">
            </li>
            <li>
                <button type="button" class="submitButton">Dodaj do listy życzeń</button>
            </li>
        </ul>
    </form>
    <div class=" photo__container">
        <img src="../../../assets/images/addBooks.jpg" alt="books" class="photo">
    </div>
</main>