<main class="main">
    <section class="main__page main__page--left">
        <p class="main__pageText">Przeczytałeś książkę i masz ochotę na kolejną? Dodaj ją do listy książek którymi
            chcesz się podzielic lub
            wymienić!</p>
        <button class="main__pageButton" routerLink="../replacement">Dodaj</button>
    </section>
    <div class="step4 rhombus"></div>
    <section class="main__page main__page--right">
        <p class="main__pageQuote">"Książki kochają każdego, kto je otwiera, dając mu poczucie bezpieczeństwa i
            przyjaźń, niczego w zamian nie żądając..." <br><span>~ Cornelia Funke</span></p>

        <img class="main__pagePhoto" src="../../../assets/images/main-page--shorter.jpg" alt="books">
    </section>
</main>