<section class="section ">
    <div class="section-overlay">
        <div class="container container-logo">
            <img src="../../assets/images/LogoEK-white.svg" alt="book with letter E and K"
                class="container-logo__image">
        </div>
        <div class="container container-form">
            <p>Podaj email aby zresetować hasło:</p>
            <form class="form" (ngSubmit)="forgotPassword()">
                <p>
                    <input type="email" class="form__input" placeholder="email" [(ngModel)]="email" name="email">
                </p>

                <div class="container__buttons">
                    <button class="button">Wyślij</button>
                </div>
            </form>

            <p class="info">Wróc do strony <span class="link" routerLink="/login">logowania</span></p>

        </div>
    </div>
</section>